extends layout

block content
  h1= title
  if user
    p Welcome #{user}
  else
    p Welcome to #{title}
  br
  if user
    a(href='/log-out') Log Out
  else 
    a(href='/sign-up') Sign Up 
    a(href='/log-in') Log In
