
//- <!DOCTYPE html>
//- <html lang="en">

//- <head>
//-     <meta charset="UTF-8">
//-     <title></title>
//- </head>

//- <body>
//-     <h1>Sign Up</h1>
//-     <form action="" method="POST">
//-         <label for="username">Username</label>
//-         <input name="username" placeholder="username" type="text" />
//-         <label for="password">Password</label>
//-         <input name="password" type="password" />
//-         <button>Sign Up</button>
//-     </form>
//- </body>

//- </html>



extends layout

block content
    h1= title

    form(method='POST' action='')
        div.form-group
            label(for='first_name') First Name:
            input(type='text', placeholder='Jimmy' name='first_name' required='true' value=(user.first_name===undefined ? '' : user.first_name) )
            br
            label(for='last_name') Last Name:
            input(type='text', placeholder='John' name='last_name' required='true' value=(user.last_name===undefined ? '' : user.last_name) )
            br
            label(for='email') E-mail:
            input(type='email' placeholder='e@mail.com' name ='email' required='true' value=(user.email===undefined ? '' : user.email))
            br
            label(for='password') Password:
            input(type='password' name='password' required='true')
            br
            label(for='confirmpassword') Confirm Password:
            input(type='password' name='confirmpassword' required='true')
            br
            button(type='submit') Sign Up
    br
    if errors 
        ul
        for error in errors
            li!= error.msg
    a(href='/') Back To Home